 
html,body {
    --s: 25vmin;
    --p: calc(var(--s) / 2);
    --c1: rgba(152, 147, 150, 0);
    --c2: rgb(0, 0, 0);
    --c3: white;
    --c4:rgba(255, 255, 255, 0);
    --bg: var(--c3);
    --d: 4000ms;
    --e: cubic-bezier(0.76, 0, 0.24, 1);
    
    text-transform: capitalize;
    background-color: var(--bg);
    background-image:
      linear-gradient(45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, var(--c2) 75%),
      linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
    background-size: var(--s) var(--s);
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
    animation: 
      color var(--d) var(--e) infinite,
      position var(--d) var(--e) infinite;
  }
  
  @keyframes color {
    0%, 25% {
      --bg: var(--c3);
    }
    26%, 50% {
      --bg: var(--c1);
    }
    51%, 75% {
      --bg: var(--c3);
    }
    76%, 100% {
      --bg: var(--c4);
    }
  }
  
  @keyframes position {
    0% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  0), 
        calc(var(--p) * -1) calc(var(--p) *  1), 
        calc(var(--p) *  1) calc(var(--p) * -1), 
        calc(var(--p) * -1) calc(var(--p) *  0);
    }
    25% {
      background-position: 
        calc(var(--p) *  1) calc(var(--p) *  4), 
        calc(var(--p) * -1) calc(var(--p) *  5), 
        calc(var(--p) *  1) calc(var(--p) *  3), 
        calc(var(--p) * -1) calc(var(--p) *  4);
    }
    50% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 8), 
        calc(var(--p) * -3) calc(var(--p) * 9), 
        calc(var(--p) *  2) calc(var(--p) * 7), 
        calc(var(--p) * -2) calc(var(--p) * 8);
    }
    75% {
      background-position: 
        calc(var(--p) *  3) calc(var(--p) * 12), 
        calc(var(--p) * -3) calc(var(--p) * 13), 
        calc(var(--p) *  2) calc(var(--p) * 11), 
        calc(var(--p) * -2) calc(var(--p) * 12);
    }
    100% {    
      background-position: 
        calc(var(--p) *  5) calc(var(--p) * 16), 
        calc(var(--p) * -5) calc(var(--p) * 17), 
        calc(var(--p) *  5) calc(var(--p) * 15), 
        calc(var(--p) * -5) calc(var(--p) * 16);
    }
  }
  
  @media (prefers-reduced-motion) {
    body {
      animation: none;
    }
  }
.profile{
    text-align: center;
    color: white;
    
}
a{
    color: white;
}
.profile>img{
    width: 200px;
    height:auto ;
  border-radius: 100%;
  animation: wave 2s infinite linear;
}
@keyframes wave {
    0%{
        border: 5px solid rgba(255, 255, 255, 0.831);
          

    }
    20%{
        border: 10px solid rgba(255, 255, 255, 0.749);

    }

    40%{
        border: 15px solid rgba(255, 255, 255, 0.358);

    }
    50%{
        border:-15px solid rgba(255, 255, 255, 0.619);
    }
    70%{
        border: 10px solid rgba(255, 255, 255, 0.283);
    }
    80%{
        border: 5px solid rgba(255, 255, 255, 0.13);
    }
    100%{
        border: 0px solid rgba(255, 255, 255, 0.299);
        
    }
    }
 
 
.profile-con>a{
    text-align: center;
    text-decoration: none;
    font: bolder;
    font-size: x-large;
    font-style: oblique;
    text-transform:uppercase;
 
}
 
 img{
    filter:grayscale(100%);
 }
ul{
    list-style-type: none;
     text-transform: capitalize;
cursor: pointer;

   
}
li>a{
    text-decoration:none;
    font-size: large;
  color: rgb(255, 255, 255);
 width: 100%;
 
}
 button{
    width: 100%;
    height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 5px 5px #000000;
  transition: .3s;
  color: #fff;
  font-weight: lighter;
  border-radius: 10px;

 }
 button:hover:active{
  background-color: rgba(255, 255, 255, 0.345);
  border: 3px solid rgb(255, 255, 255);
  box-shadow: 4px 4px #ffffff;
  transition: .3s;
  color: #000000;
  font-weight: 500;
  border-radius: 10px;
  transform:scaleZ(1);
 }
 .button{
   
      font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(255, 255, 255, 0.379);
    padding-bottom: 23px;
    border: 2px solid white;
    /* From https://css.glass */
background: rgba(230, 22, 230, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
border: 1px solid rgba(255, 255, 255, 0.15);
   padding-right: 5%;
   padding-left: 1%;
  
    
 }
 
 .title{
    text-align: center;
    color: rgb(254, 254, 254);
    font-family: Georgia, 'Times New Roman', Times, serif;
   
 
 }
 .title>a{
  font-weight: bolder;
    padding: 0px 20px 2px 20px;
background: rgba(245, 13, 210, 0.33);
border-radius: 16px  16px 0px  0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.5px);
-webkit-backdrop-filter: blur(10.5px);
border: 1px solid rgba(255, 255, 255, 0.15);
 }
 
 
 
 
 